[2019-07-11 20:03] romeroadrian opened #19 "Bad cast when building request"
There is an issue in the castRequest function (https://github.com/recurly/recurly-client-node/blob/3_0_0_beta/lib/recurly/Caster.js#L30) when used with a payload that includes an array of strings (needed for coupon codes).

I think the problem itself is here https://github.com/recurly/recurly-client-node/blob/3_0_0_beta/lib/recurly/Caster.js#L37.
First branch of the if is skipped as `value[0]` is

[2019-07-11 21:48] bhelx commented on #19
@romeroadrian Thanks so much for the level of detail of this issue. I was able to immediately write a case to reproduce. I've created a patch in PR #20 . I also wrote in some extra text cases while I was there. I verified that the request is now working by testing the `createPurchase` operation. Please have a look and let me know what you think. I have a few other commits queued up so we can relea

[2019-07-11 22:14] bhelx commented on #19
Closed with #20

[2019-07-11 22:14] #19 closed

[2019-07-12 14:05] romeroadrian commented on #19
Thanks @bhelx !

Would it be possible to port this fix into v3-v2018-10-04 ? We are using that api version

[2019-07-12 15:16] bhelx commented on #19
@romeroadrian No problem. With our new system, as long as the changes don't affect the interface exposed to the programmer, upstreaming fixes is easy. I'll try to keep all the versioned branches up to date with as many fixes as possible.

[2019-09-03 19:44] wcauchois opened #29 "Typescript types"
Hi,

I wanted to just chime in that typescript support would be much appreciated, especially if the types were baked into the library itself.

Thanks!

[2019-09-03 20:25] bhelx commented on #29
Thanks for the recommendation @wcauchois. I admit I have no experience with typescript so I cannot promise a timeframe, but since we utilize code generation in this client, I actually think this can be achieved and maintained without much effort. I am also aware that it will be extremely valuable to our typescript users and is worth doing.

I'm going to open a backlog ticket for myself to take thi

[2019-09-10 20:25] rafdizzle86 opened #30 "3.0.0-beta.4 is not available"
In the readme it says to use `3.0.0-beta.4` but it looks like it doesn't exist in the npm registry:

[code]

When I run `yarn install` on the other hand, it asks me to select which version of recurly I want to install and it looks like it only goes up to `3.0.0-beta.3`:
[code]

Was the `.4` version of the beta not released yet maybe?

[2019-09-10 20:29] rafdizzle86 commented on #30
For reference the `3.0.0-beta.4` is referenced in the readme here:

https://github.com/recurly/recurly-client-node/blame/3_0_0_beta/README.md#L25

Also, it looks like in the "releases" tab in GH, `3.0.0-beta.4` is not listed.

[2019-09-10 20:30] bhelx commented on #30
Hey stranger!

I fixed the README. beta.3 is in fact the latest: https://github.com/recurly/recurly-client-node/releases/tag/3.0.0-beta.3

We may release a beta.4, but will likely wait for 3.0.0 on October 1st.

[2019-09-10 20:30] #30 closed

[2019-09-10 23:27] rafdizzle86 opened #32 "first() and count() are not methods on Pager object - npm package might be outdated?"
Per the readme and the documentation it looks like `first()` and `count()` should be declared methods on the `Pager` object, but this does not seem to work for me when I test it out in the node console:

[code]

Also it looks like these methods are not defined on the Pager class in the version that is distributed via npm:

[code]

Maybe I am doing something wrong?

[2019-09-10 23:29] rafdizzle86 commented on #32
Ok, looks like the `3.0.0-beta.3` does not have these methods defined:

https://github.com/recurly/recurly-client-node/blob/3.0.0-beta.3/lib/recurly/Pager.js

I suppose the current branch is ahead of the `3.0.0-beta.3` then?

[2019-09-10 23:30] rafdizzle86 commented on #32
I guess I was confused since the documentation is referring to methods that do not exist in the version of the package that is distributed via npm!

[2019-09-11 01:24] bhelx commented on #32
Yes, seems like it was destined for beta.4. That release was halted because an integration test failed but already made it in this 3_0_0_beta branch. Tests are all clear now so I published the latest as `beta.4`: https://www.npmjs.com/package/recurly/v/3.0.0-beta.4

Release notes to follow tomorrow. Should be no breaking changes.

[2019-09-11 01:24] #32 closed

[2019-10-01 14:04] rafdizzle86 opened #37 "Without the siteId param, I am getting an error"
When I initialize the client without the siteId param (as instructed by the README), I am getting the following error:

[code]

Am I initializing it wrong? After looking at the `BaseClient` I think it is expecting a `siteId` param to be passed to the `Client()` function:

[code]

[2019-10-01 14:39] rafdizzle86 commented on #37
Also - when I _do_ put in the site id (e.g. subdomain), then it is returning the following error when I call `getSite()`:

[code]

In the previous version of the client, I think the passing in the subdomain worked- has that changed?

[2019-10-01 14:50] rafdizzle86 opened #38 "#clientgetbillinginfo mentions you can use the account code, but returns an error"
In the docs, it mentions I can use "account code" to look up billing info: https://recurly.github.io/recurly-client-node/#clientgetbillinginfo

Unfortunately this results in an error for me:
[code]

[2019-10-01 14:55] rafdizzle86 commented on #38
Should the docs be updated? Or should the client be able to look up the account code?

[2019-10-01 15:36] bhelx commented on #38
It takes an account id which is the account's id (druuid) or a friendly id. Here's the yet unreleased section of the upgrade doc that explains friendly ids:

-------

Since we no longer utilize “links” in our resources, it’s up to you to know which identifiers to use when calling the servers. There are two types of identifiers in V3:

    Druuids
    Friendly Ids

The Druuid is a base36 encoded in

[2019-10-01 15:45] bhelx commented on #37
Furthermore, remember that using the subdomain requires the friendly version of the site-id. so your site-id should be `subdomain-rollout-sandbox`. See my comment on your other issue: https://github.com/recurly/recurly-client-node/issues/38#issuecomment-537094979

[2019-10-01 19:39] bhelx commented on #37
assuming you are on beta.4, you might want to try [beta.5](https://github.com/recurly/recurly-client-node/releases/tag/3.0.0-beta.5)

[2019-10-01 19:52] bhelx commented on #37
Just to be extra clear, getSite takes the site-id:

[code]

[2019-10-01 22:08] rafdizzle86 commented on #37
I didn't realize beta 5 was out, that resolved the issue, thanks!

[2019-10-01 22:08] #37 closed

[2019-10-01 22:09] rafdizzle86 commented on #38
Makes sense! Thank you!

[2019-10-01 22:09] #38 closed

[2019-10-09 14:17] rafdizzle86 opened #46 "Guidance on testing"
What are best practices for mocking and stubbing the recurly client?

I'm using a combination of `chai.js`, `mocha.js` and `sinon.js` for testing. I'm using `sinon.js` to stub the recurly client so I can return my own stubbed objects- however when I look at what the actual client returns I see there are a lot of instantiated resource objects that are dynamically created.

For example the response

[2019-10-09 14:20] rafdizzle86 commented on #46
Or maybe there is another way of doing it that I have not thought about!

[2019-10-09 18:15] bhelx commented on #46
BTW, in regards to your question here:

If you use the `cast` function on any resource, it will recursively cast the whole object (and it's attributes). Example:

[code]

The classes are aware of their schema and able to do this casting accurately.

[2019-10-10 14:14] rafdizzle86 commented on #46
That helps, thanks again @bhelx!

[2019-10-10 14:14] #46 closed

[2019-10-11 17:19] Kriskit commented on #29
Has there been progress on this? I will soon implementing Recurly into a platform written in Typescript and would prefer not to have to write my own declarations but will if it's still a way off.

[2019-10-11 17:28] bhelx commented on #29
@Kriskit I'll look into a level of effort on this today. There seems to be quite a bit of interest so I'm pretty confident we will start to provide it.

Personally, I'd recommend not doing it yourself because it would be tough to maintain, it's a huge surface area and the API is slightly changing constantly. We utilize generation from an OpenAPI schema in this library so we can generate these file

[2019-10-11 20:38] bhelx commented on #29
@wcauchois @Kriskit Consulted with another developer on our team with typescript experience. I'm going to generate the definition file and we'll try to publish test next week. I'll try to have this in the mainline release by the end of the month.

[2019-10-11 20:55] Kriskit commented on #29
That's great, thanks for responding so quickly.

[2019-10-11 22:40] bhelx commented on #29
Got a work in progress PR going: https://github.com/recurly/recurly-client-node/pull/48
we'll test and refine next week

[2019-10-18 05:34] andreasasprou opened #49 "Cannot find module '../../package' from 'BaseClient.js'"
**Describe the bug**

Unable to create a new instance of the Recurly Client.

When I attempt to instantiate the client:

[code]

I get the following error

[code]

**To Reproduce**

[code]

**Expected behavior**

To be able to instansiate the client and run functions exposed by it's api, e.g.

[code]

**Your Environment**

- Which version of this library are you using? 3.0.0
- Which version of rub

[2019-10-18 14:37] bhelx commented on #49
Thanks @andreasasprou

Let me see if I can reproduce. Looks like we'll also need to add node 12 to the TravisCI versions.

[2019-10-18 14:50] bhelx commented on #49
@andreasasprou I could not repro but changing it causes no harm and it appears to be the suggested way to do it (using file extension).

[2019-10-18 14:51] #49 closed

[2019-10-18 14:55] bhelx commented on #49
@andreasasprou When you get a moment, could you confirm `master` works for you? I'll get out a patch release.

[2019-10-18 18:42] bhelx commented on #29
@wcauchois @Kriskit Would y'all mind trying out #48? We've loosely tested it and it seems to be working.

Our test project is 2 files:

### package.json

[code]

### index.ts

[code]

To run:

`npm start`

One thing I'm having trouble with understanding is how to write the definitions for the AsyncIterator part of the Pager class. Seeing the following error below when trying to use the await-of sy

[2019-10-18 22:12] wcauchois commented on #29
@bhelx regarding the async iterator thing, maybe you want AsyncIterable instead? looking at Pager i think that is what you're returning https://github.com/recurly/recurly-client-node/blob/adcfbaf551f12c797d922f8a02e28959d8a6a0e7/lib/recurly/Pager.js#L30

![image](https://user-images.githubusercontent.com/300544/67131455-bb575600-f1d2-11e9-8231-28d5938c53c1.png)

[2019-10-18 22:39] bhelx commented on #29
@wcauchois seems like you were right! Pushed a new commit and all seems to be working. https://github.com/recurly/recurly-client-node/pull/48/commits/9275552f781bb8da5a2a5555c09af7cf22546838

Here is a test script. Mind giving the commit a look?

[code]

[2019-10-19 00:14] bhelx commented on #29
We'll give it the weekend and give @Kriskit a chance to chime in. Once I get the okay from you @wcauchois I'll document it and get a patch out (hopefully Monday).

[2019-10-19 06:03] andreasasprou commented on #49
I can confirm the issue is fixed in `master`. Cheers

[2019-10-19 20:56] bhelx commented on #49
Thanks for confirming @andreasasprou
[3.0.1](https://github.com/recurly/recurly-client-node/releases/tag/3.0.1) is deployed with the fix.

[2019-10-20 07:13] andreasasprou opened #51 "TypeError: Cannot read property 'error' of null"
**Describe the bug**

401 error codes not handled by `BaseClient.js`

[code]

TypeError: Cannot read property 'error' of null

    at IncomingMessage.<anonymous> (/Users/XYZ/node_modules/recurly/lib/recurly/BaseClient.js:71:50)
    at IncomingMessage.emit (events.js:215:7)
    at endReadableNT (_stream_readable.js:1183:12)
    at processTicksAndRejections (internal/process/task_queues.js:80:21)

[

[2019-10-20 17:08] bhelx commented on #51
@andreasasprou Thanks for another very well described issue. It helps me reproduce the problem really quickly. The problem appears to be with `HEAD` request (on the `count` call. Seems to to  work fine for other responses with a body:

[code]

 I will change the response handler in the `BaseClient`to be more resilient to responses with no body tomorrow.

[2019-10-21 18:16] bhelx commented on #29
@wcauchois @Kriskit Any final thoughts?

[2019-10-21 19:20] wcauchois commented on #29
left a few comments. i really appreciate your work!

[2019-10-22 07:49] Kriskit commented on #29
@bhelx It's a good start, I'm not sure if this to do with your code generation or what but my only concern is the nondescript `object` parameters everywhere, looking at the client jsdoc comments there are clearly defined parameters that could be turned into interface definitions for example:

[code]

I also notice the use of returning `Promise<Empty>`, do these actually return an empty object or a

[2019-10-22 08:06] bagbee opened #53 "Missing in client libraries list"
Please add `recurly-client-node` to client libraries list at https://dev.recurly.com/docs/client-libraries

[2019-10-22 14:26] bhelx commented on #53
@bagbee thanks for the callout, the older `dev.recurly.com` doc site is for API V2. This node library is for API v3 which has a new documentation site: https://developers.recurly.com/

you'll find it listed (along with our other supported clients clients) here: https://developers.recurly.com/api/index.html

[2019-10-22 14:26] #53 closed

[2019-10-24 17:30] #51 closed

[2019-10-29 09:50] 3Gorec opened #57 "Does createPurchase() performs transaction synchronously?"
We are using new recurly v3 node SDK. `createPurchase()` call returns invoice with `chargeInvoice.state: 'paid'` or throws `TransactionError` if payment was declined. Documantation says that possible invoice states are "pending" "processing" "past_due" "paid"  and "failed". Is it possible to get invoice with "pending" or "processing" states in response of `createPurchase()`?
If yes how do you sugg

[2019-10-29 16:22] bhelx commented on #57
@3Gorec Thanks for the question.

The documentation spells out every state but they can depend on your payment method. If your customer's billing info is a credit card  or another synchronous payment method, and your `collection_method = automatic` (which is default), the invoices should always come back paid or the request will fail.

If you are using async payment methods such as ACH (bank accou

[2019-10-29 17:33] bhelx commented on #57
@3Gorec Feel free to re-open if this hasn't answered your question.

[2019-10-29 17:33] #57 closed

[2019-10-30 11:26] 3Gorec commented on #57
@bhelx Thank you for detailed answer.

[2019-12-03 23:26] geoffdutton opened #67 "When using Braintree to process PayPal, the billingInfo.paymentMethod is empty"
**Describe the bug**

We use Braintree to accept and process PayPal. When using the [getBillingInfo](https://recurly.github.io/recurly-client-node/#getbillinginfo-accountid) method, it returns something like:

[code]

The API itself returns:
[code]

**Expected behavior**

I would expect the `paymentMethod` object not to be empty. I guess when using the Braintree version of PayPal, it doesn't provi

[2019-12-03 23:28] bhelx commented on #67
@geoffdutton I believe the fix to this was just released 40 minutes ago: https://github.com/recurly/recurly-client-node/releases/tag/3.2.0

Would you mind trying it and letting us know if it solves your problem?

[2019-12-03 23:36] geoffdutton commented on #67
@bhelx Ah, yes, I should be able to work with that. Thanks!

[2019-12-03 23:36] #67 closed

[2019-12-03 23:37] bhelx commented on #67
@geoffdutton Great! Appreciate the call-out. Let us know if you find anything else.

[2019-12-19 18:27] #29 closed

[2019-12-19 20:48] bhelx commented on #29
Just so y'all know, this got bundled into the `3.3.0` release: https://github.com/recurly/recurly-client-node/blob/master/CHANGELOG.md#330-2019-12-19

Keep an eye out for the next steps as outlined in the [PR](https://github.com/recurly/recurly-client-node/pull/48).

[2019-12-20 19:38] davidmcl opened #72 "Node Client - Invalid JSON returned from getPlan"
**Describe the bug**

On call to client.getPlan() the returned data is not valid JSON...the format is not the same as the raw api call. listPlans formats correctly.

**To Reproduce**
[code]

The results in this case are:
[code]
The 3 words surrounded with ** should not be in the results...it looks like the object names are being inserted.

**Expected behavior**

This is what is returned from the r

[2019-12-20 19:45] bhelx commented on #72
@davidmcl I'm not sure how to reproduce this. Could you provide some code to help us understand?

The response is not a plain Object:

[code]

[2019-12-20 19:56] bhelx commented on #72
@davidmcl I think I see what you mean, i'm assuming you are seeing that when calling console.log on the plan?

[code]

I believe that's just node's way of telling you the object is not a plain js object and has a defined type. You should still be able to treat it like a plain object though.

[2019-12-20 20:36] davidmcl commented on #72
I did provide the code...it is literally the 3 statements provided, the only thing omitted is the console.log statement after the client call
`console.log(results);`

**RE: The response is not a plain Object:**
It is according to your documentation, or else your examples are all bad...maybe they are.
The only way I could get the plain-object that I should get is by doing this...
[code]
...which sh

[2019-12-20 20:52] bhelx commented on #72
@davidmcl sorry about the confusion.

The `plan` here is an instance of the `Plan` class https://github.com/recurly/recurly-client-node/blob/d7a3f8e622f50cc54d7891245fa3b3c45f6f8409/lib/recurly/resources/Plan.js#L37
which is inherited from `Resource` which is itself just a plain js object.

You should be able to use that plan object just like you would any other plain object. For instance:

[code]

[2019-12-20 23:05] anishkny opened #73 "error TS2504: Type 'AsyncIterator<Plan, any, undefined>' must have a '[Symbol.asyncIterator]()' method that returns an async iterator."
**Describe the bug**

Upgrading to recurly Node.js client v3.3.0 (released yesterday Dec 19) causes TypeScript v3.7.4 build failure with this code:

[code]

[code]

--

**To Reproduce**

Steps to reproduce the behavior.

If possible, please provide example code which we can run to reproduce the bug.
The faster we can reproduce the bug, the faster we can help you.

**Expected behavior**

A clear an

[2019-12-20 23:14] bhelx commented on #73
@anishkny I was able to repro this. We just released the TS definitions yesterday so there may be a few small issues. I'll prepare a fix. If you are urgently blocked, you could try 3.2.x.

[2019-12-20 23:52] anishkny commented on #73
@bhelx thanks! Yes thats what I am doing right now (pinning to 3.2.x) - it may be worth investing in TS tests for basic flows (I see you have JS client tests and thats awesome!)

[2019-12-21 03:08] bhelx commented on #73
Yes, great point @anishkny. When we fix this problem we will see how some testing can prevent future issues.

[2019-12-22 22:20] bhelx commented on #73
@anishkny could you confirm that #74 fixes the problem? Seems to on my end.

[2019-12-23 01:06] anishkny commented on #73
@bhelx yes! #74 seems to fix things on my end. Thanks for the fast turnaround! Let us know then its pushed. 🙏

[2019-12-23 17:07] #73 closed

[2019-12-23 17:17] bhelx commented on #73
@anishkny this was released in [3.3.1](https://github.com/recurly/recurly-client-node/releases/tag/3.3.1)

I'm making a follow up ticket now for the typescript tests.

[2019-12-26 18:24] bhelx commented on #72
@davidmcl Checking in to see if the issue is resolved.

[2019-12-27 22:03] #72 closed

[2019-12-27 22:04] bhelx commented on #72
Closing for now. Feel free to re-open if you don't think the problem is resolved.

[2020-04-02 21:13] geoffdutton opened #97 "Further clarification on terminateSubscription"
Regarding #95, I'm using 3.5.1, but I have to make the call like
[code]
because `_makeRequest` is looking for a `params` key in the `options` arg: https://github.com/recurly/recurly-client-node/blob/master/lib/recurly/BaseClient.js#L51

I would expect to just pass and object with a `refund` key like:
[code]
Is that the intended way it should work?

[2020-04-02 22:30] douglasmiller commented on #97
@geoffdutton, sorry about the confusion there. I think that the `terminateSubscription` parameter should actually be named `options` instead  of `params`. Additionally, the doc comments are incorrect (which is likely the main point of confusion).

[code]
Should actually be
[code]

We will get the method parameter name and comments updated to alleviate confusion

[2020-04-03 16:13] bhelx commented on #97
Just out of curiosity, what does the failure of this look like:

[code]

Does it silently fail?

Perhaps we should add some light top-level validation of the `options` argument and display a helpful error message.

[2020-04-03 16:27] bhelx commented on #97
Okay, just confirmed it does. We're going to add that validation in a follow up. Thanks for pointing this out @geoffdutton !

[2020-04-03 16:27] #97 closed

[2020-04-03 16:28] bhelx commented on #97
Docs should now correctly describe the interface: https://recurly.github.io/recurly-client-node/#clientterminatesubscription

[2020-04-21 16:40] geoffdutton opened #105 "Clarification listInvoices on params; limit does not seem to be working"
I've got a few questions about the [listInvoices](https://recurly.github.io/recurly-client-node/#clientlistinvoices) method.

Per the docs, if I pass `options.params.limit = 20`, I would expect the 20 records back:
[code]

Which outputs:
[code]

If I pass `params.limit = 20`, I would expect it not work, but strangely the Pager count is null:
[code]

Which outputs:
[code]

If I use `options.params.

[2020-04-21 20:33] douglasmiller commented on #105
Hey @geoffdutton, thank you for taking the time to collect this information and provide working code examples of the issues that you are experiencing.

Essentially, you're reporting 3 different issues that you are encountering.

1. The `limit` parameter is not working in the way that you are expecting.
2. The `count()` method is returning `null` in certain requests.
3. The number of records that a

[2020-04-21 20:41] douglasmiller commented on #105
Ah, I forgot to explain the other two issues!

The `list_*` operations have a known issue where the expected `options` object does not match the function documentation or the non-`list_*` methods. Where all of the other operations in the library expect the options to be in the format `{ params: { paramName: 'param value' } }`, the `list_*` operations expect `{ paramName: 'param value' }`. This is

[2020-04-22 01:02] #105 closed

[2020-04-22 01:05] bhelx commented on #105
@geoffdutton Apologies about the flaky Pager behavior. #106 is merged and in master. If you could try to load that directly and let us know if that works for you, that would be great. We can get a release out tomorrow or as soon as you're ready.

[2020-05-05 20:20] geoffdutton opened #113 "Feature request: custom http agent options"
Since #90, I started noticing `read ECONNRESET` popping up in our logs. We use AWS Lambda, so the lifecycle of the container can complicate things (even though the point is to simplify things ;)). I finally traced it down to the `BaseClient.js` and realized what's happening is that the recurly client object in some cases might be reused between requests, and I think the `keepAliveMsecs` might have

[2020-05-05 20:45] bhelx commented on #113
@geoffdutton Interesting. Haven't thought about this case. I'd like to do some more research about this use case. A couple initial thoughts here:

1. We will soon have more options that you can pass into the `Client` constructor. That will likely include the keepalive timeout config. I can work on that sooner if it helps.
2. Do you have any resources on how these outbound connections should be han

[2020-05-05 20:47] bhelx commented on #113
I'm also going to verify with the developer of that PR that we need the `keepAliveMsecs` property. Hearing that maybe we don't.

[2020-05-13 09:09] richthegeek opened #115 "Is `nextBillDate` missing from the Subscription model?"
The documentation for creating and retrieving a subscription mentions a `next_bill_date / nextBillDate` field but this is missing from the TS annotations.

Is it missing from the actual request also, or is automatically snake-cased and passed?

[2020-05-13 15:28] bhelx commented on #115
We do not have the request types exposed in typescript yet. That was a follow-up that we left from the original task: https://github.com/recurly/recurly-client-node/issues/29
Right now they are just unstructured objects, but we should eventually expose those. There are cases, like this one, where the request object is different than the response.

I believe `next_bill_date` is a write-only field.

[2020-05-14 10:27] richthegeek commented on #115
Understood, so only the response fields are included :+1:

I know this is _not_ a support channel but I'm having trouble getting an answer out of Recurly support and you seem like you'd know: is there a way to change the billing date of a subscription and have the amount pro-rated automatically? If so, what endpoint should I be looking at?

If you don't want to or can't answer outside of official

[2020-05-14 15:31] bhelx commented on #115
You can ask questions here anytime! The reason we have that warning is that we don't work for the support team and thus can't always get you a timely answer. Having said that, it's best to keep the topics on this repo specific to the node client if possible.

WRT your question:

There are 2 pathways to changing subscriptions, the `modifySubscription` call and the `createSubscriptionChange` call. `

[2020-05-14 15:32] bhelx commented on #115
I'm going to close this question for now but feel free to keep the conversation going.

[2020-05-14 15:32] #115 closed

[2020-05-14 16:32] richthegeek commented on #115
Thanks for helping out :)

The scenario is we have customers who are monthly on the day they signed up, and we want to align them all to the 1st of each month. And of course it's not viable to do that if we're giving everyone 1-30 days unbilled time.

It's beginning to look like we need to Postpone the subscription and manually issue a charge for the prorated amount to each account.

[2020-05-14 16:57] bhelx commented on #115
Yes I think that may work. But would it work to set the `nextBillDate` during the purchase / signup flow? There is a path in the purchase request `purchase.subscriptions[i].next_bill_date`

The docs:

[code]

So when someone signs up on `May 14th`, you could set next_bill_date to `June 1` during the createPurchase call

[2020-05-14 17:31] Dania02525 commented on #115
@richthegeek creating a subscription with the `next_bill_date` parameter will cause the subscription to be prorated on its first invoice, and begin billing on that date.  On the other hand, postponing the subscription after it is created using the same `next_bill_date` parameter in the put request *won't* cause any proration- but instead will just change the billing date.

[2020-05-15 06:02] richthegeek commented on #115
@bhelx yep, we're doing it for new customers but this is for the existing customers. Think I've got it figured out now, thanks fo much for the help!

@Dania02525 :+1:

[2020-05-23 01:43] muz3 opened #116 "looking for fake recurly token for testing"
Hi team,

I am writing my backend integration tests. I could get everything worked, except before running my test I have to use UI to get a recurly token, then plug that into my test cases. I wonder if there is a good way to automate this flow. Or is there a fake token can be used directly. simply like you can use a fake credit card number 4111-1111-1111-1111.

thanks

[2020-05-23 02:34] bhelx commented on #116
Thanks for the question @muz3,

This is actually a feature we are planning out but it's not ready. For the time being can implement it yourself. When you are creating the BillingInfo object on your server, just switch out the token info for a test credit card. Something like this:

[code]

You could add a few tokens-to-card mappings for different scenarios: https://docs.recurly.com/docs/test

[2020-05-23 23:03] muz3 commented on #116
@bhelx , thanks a lots. forcing the billing address update from the server-side works great for my tests.

[2020-05-23 23:03] #116 closed

[2020-05-24 01:15] bhelx commented on #116
@muz3 great! Let us know if you have any other questions. We'll try to post back here when the we roll out our own test token support.

[2020-05-25 18:12] muz3 commented on #116
@bhelx ,  that's great. What is the best community channel for Recurly, twitter, slack or something else? I would like to keep up with any development related news.

[2020-05-26 15:58] bhelx commented on #116
We don't have a specific channel for developer announcements. Best place to find them is in [release notes](https://github.com/recurly/recurly-client-node/releases), [changelogs](https://github.com/recurly/recurly-client-node/blob/master/CHANGELOG.md), or our [blog](https://blog.recurly.com/)

[2020-05-28 20:13] bhelx commented on #113
Going to close this until further notice. Feel free to reopen or continue the discussion. BTW, we will have keepalive and timeout settings coming soon.

[2020-05-28 20:13] #113 closed

[2020-06-07 09:52] jatazoulja opened #121 "Serverless framework webpack scandir error?"
Using Severless Framework with webpack and babel just to import recurly:
just use:
`import * as recurly from 'recurly`

LOG ERROR:
`Error: ENOENT: no such file or directory, scandir '/Users/{user.name}/Documents/POC/{project.name}/.webpack/service/harp/resources'",
        "at Object.readdirSync (fs.js:865:3)",
        "at Object.../../recurly/lib/recurly/resources.js (/Users/{user.name}/Documents

[2020-06-07 19:48] bhelx commented on #121
Hey @jatazoulja

I'm happy to help, but I'm not sure how to reproduce this. Could you help us by outlining a minimal reproducible example?

[2020-06-08 02:26] jatazoulja commented on #121
package.json dependencies:
[code]
serverless option:
[code]
recurly.js:
[code]

[2020-06-08 17:53] bhelx commented on #121
@jatazoulja how do i invoke this code? I'm not sure at all how serverless works. I tried using the `serverless invoke` command:

[code]

[2020-06-08 17:56] bhelx commented on #121
@jatazoulja another question, those paths look like they still have template variables in them: `'/Users/{user.name}/Documents/POC/{project.name}/.webpack/service/harp/resources'`. Is that expected?

[2020-06-08 20:21] bhelx commented on #121
@jatazoulja I still can't seem to repro. I do have a hint as to what may be going on though. Perhaps webpack doesn't like that we include those files dynamically (by walking the directory). I have a patch that uses a more explicit approach in this branch: https://github.com/recurly/recurly-client-node/tree/dynamic-to-manual-resource-import

Would you mind trying that branch?

[2020-06-09 01:47] jatazoulja commented on #121
Thanks @bgreenrecurly
I will try to make a sample code base you can checkout to repro also will try that solution as well..

[2020-06-16 19:54] bhelx commented on #121
@jatazoulja still having the problem? There's no rush to respond as it's not being reported elsewhere, just checking in on this issue. Let us know if we can help.

[2020-06-17 18:17] StuClift commented on #121
This is caused by trying to load [these resources](https://github.com/recurly/recurly-client-node/blob/master/lib/recurly/resources.js#L5-L10) at runtime from a folder that doesn't exist because you are bundling everything into a single file.

[2020-06-17 18:28] bhelx commented on #121
@StuClift this is what i suspected, I've pushed a change in this branch to address that: https://github.com/recurly/recurly-client-node/tree/dynamic-to-manual-resource-import

Are you able to confirm that fixes the problem? We cannot confirm the fix without being able to reproduce.

[2020-06-17 18:53] StuClift commented on #121
@bhelx I've tested your changes and can confirm that those files are now being statically resolved  by the bundler and there is no runtime error for the missing directory. 👍

[2020-06-17 19:30] bhelx commented on #121
@StuClift Great! thanks so much for taking the time to check. Opening a PR now.

[2020-06-17 19:34] bhelx commented on #121
I changed this to a `bug` as it seems to me like it would be a bug for anyone using a bundler.

[2020-06-17 19:36] StuClift commented on #121
@bhelx Thanks for the quick response, I have added a minimial repro. Just need `npm i && npm run build && npm test` You should then be alb eot ppaly your patch and get the correct result.
[recurly-node-bundle.zip](https://github.com/recurly/recurly-client-node/files/4794716/recurly-node-bundle.zip)

[2020-06-17 19:39] bhelx commented on #121
Thanks, appreciate the help reproducing!

[2020-06-17 20:25] #121 closed

[2020-06-18 12:11] jatazoulja commented on #121
sorry guys... I was busy with the project and resulted using node-recurly... will retest this lib again...  thanks @StuClift

[2020-07-14 16:57] bhelx commented on #29
Request types will be coming in version `4.0.0`: https://github.com/recurly/recurly-client-node/pull/134/

[2020-07-14 18:02] bhelx commented on #29
@wcauchois @Kriskit Perhaps y'all have some opinions on #134

[2020-10-07 19:16] SKaistrenko opened #150 "Error types"
Seems like `recurly.errors.*` are not available in TS?

[2020-10-09 17:03] SKaistrenko commented on #150
@bhelx is that something you're able to confirm?

[2020-10-09 17:12] douglasmiller commented on #150
@SKaistrenko, thank you for the question. We are looking into this and will provide you with an update shortly.

[2020-10-09 20:10] SKaistrenko opened #152 "Generate unique coupon codes not available"
https://developers.recurly.com/api/v2019-10-10/index.html#operation/generate_unique_coupon_codes doesn't seem to be available in this package. Could you confirm?

[2020-10-09 20:14] SKaistrenko commented on #152
If that is something that I should submit a PR for, let me know

[2020-10-09 20:19] douglasmiller commented on #152
@SKaistrenko you're correct that the `generate_unique_coupon_codes` operation is not present in the client libraries. This is something that we have wrestled with and are trying to find a good solution for.

The backend process that generates unique codes is asynchronous and the response currently only contains a `Location` header. We will talk about options internally about how to best address th

[2020-10-09 20:21] SKaistrenko commented on #152
So this is more than just submitting POST request to `https://v3.recurly.com/sites/{site_id}/coupons/{coupon_id}/generate`?

[2020-10-09 20:24] douglasmiller commented on #152
@SKaistrenko the endpoint is functional and you can manually generate the POST request. The only issue is that the client's do not provide the capability to perform the request. I'm looking through the reasoning behind the intentional omission and will provide an update shortly.

[2020-10-09 20:25] SKaistrenko commented on #152
Gotcha, thanks!

[2020-10-09 20:36] dbrudner commented on #150
@SKaistrenko Yup, it looks the type is missing. We'll be looking to add it as soon as we can. Thanks for opening the issue! We'll report on progress inside this thread.

[2020-10-09 20:37] SKaistrenko commented on #150
Thank you!

[2020-10-09 23:07] douglasmiller commented on #152
@SKaistrenko, it looks like there are still some complications with including the `generate_unique_coupon_codes` operation in the client. From my research, it may be possible to include support in a limited fashion though.

I've created a feature request for this and will keep this issue open to provide updates to you.

[2020-10-09 23:22] SKaistrenko commented on #152
Ok, thanks! Keep me posted.

[2020-10-20 18:13] SKaistrenko commented on #152
@douglasmiller do you guys have any updated on that?

[2020-10-28 19:44] douglasmiller commented on #152
@SKaistrenko I've added this to our backlog. We will update this when we have more information.

[2020-10-30 13:40] SKaistrenko opened #156 "Gift Card operations are not available in this library"
https://dev.recurly.com/docs/gift-card-object, https://dev.recurly.com/docs/create-gift-card etc. aren't exposed in this library. Is there any chance those can be added?

[2020-11-02 14:16] SKaistrenko opened #157 "Pager.eachPage type is incorrect"
**Describe the bug**

Current typing is `eachPage(): AsyncIterable<T>;`, expected: `eachPage(): AsyncIterable<T[]>;`

**To Reproduce**

Check types

**Expected behavior**

N/a

**Your Environment**

- Which version of this library are you using? 3.15.0
- Which version of the language are you using? Node 12

[2020-11-02 14:25] SKaistrenko commented on #150
@douglasmiller we need to re-open. I'm getting error on trying to use this
[code]
on `if (e instanceof NotFoundError) {`

Logged error:
[code]

[2020-11-02 14:25] SKaistrenko commented on #150
@douglasmiller we need to re-open. I'm getting error on trying to use this
[code]
on `if (e instanceof NotFoundError) {`

Logged error:
[code]

[2020-11-02 15:02] douglasmiller commented on #150
Oh no, we're sorry about that. I'll reopen and we'll take a look. Thanks for letting us know!

[2020-11-04 16:14] SKaistrenko commented on #157
@douglasmiller any updates on this

[2020-11-04 16:15] douglasmiller commented on #157
@SKaistrenko we are looking into getting the fix for this included in the next client release, which should be today or tomorrow

[2020-11-04 16:16] SKaistrenko commented on #157
Awesome, thanks!

[2020-11-04 18:02] douglasmiller commented on #156
@SKaistrenko: Unfortunately, gift cards are only supported in the v3 API when creating a purchase. Please reach out to support to indicate that you would like for full gift card support to be added to the v3 API. They will need to create a feature request for this/add a +1 to an existing request so that we can prioritize the feature.

[2020-11-04 18:17] douglasmiller commented on #150
@SKaistrenko I'm a little confused by the error that you're having. Could you provide a runnable code sample?

Looking at the nodejs example for the [get_account](https://developers.recurly.com/api/v2019-10-10/index.html#operation/get_account) operation, the catch block is checking `err instanceof recurly.errors.NotFoundError`.  I'm assuming that you've imported the error class itself, but a runna

[2020-11-05 13:20] SKaistrenko commented on #156
It seems like we won't need it after all

[2020-11-05 14:04] SKaistrenko commented on #150
Ok, so in your types definitions file `recurly.d.ts` you're exporting each error individually (e.g. `export class ResponseError extends ApiError { }`) while in your actual `recurly.js` you're only exporting error as `exps.errors = require('./recurly/api_errors')`. That causes problems because types don't match actual code. Individual errors shouldn't be exported in types definitions. Same goes for

[2020-11-05 14:04] SKaistrenko commented on #150
@douglasmiller ^^^

[2020-11-05 14:05] SKaistrenko commented on #150
Doing `errors.ClientError` doesn't work either

[2020-11-06 18:32] douglasmiller commented on #150
@SKaistrenko I believe that https://github.com/recurly/recurly-client-node/pull/160 should fix this.

[2020-11-06 18:35] SKaistrenko commented on #150
Hope so

[2020-11-06 19:32] #150 closed

[2020-11-07 13:32] SKaistrenko commented on #157
I see it working as expected, thanks!

[2020-11-07 13:32] #157 closed

[2020-12-10 12:28] cajoy opened #175 "Missing type definitions for cast method"
**Describe the bug**

I am trying to cast on subscription `recurly.Change.cast(...)` but getting following error:

`Property 'cast' does not exist on type 'typeof Subscription'.`

**Expected behavior**

Should be no typescript errors

**Your Environment**

3.18.0

[2020-12-10 14:48] douglasmiller commented on #175
Thank you for creating an issue, @cajoy.

This `cast` method is intended to be an internal method for casting an API response into a `Resource`. There shouldn't be any need to invoke it directly. What is your use case for making use of the `cast` method directly?

[2020-12-10 15:35] cajoy commented on #175
Why using it for testing.

I see your point. If it meant to be internal then we can do something like

`(recurly.Subscription as any).cast(...)`

But would be better if still can be exposed via interface

[2020-12-11 15:58] charesbast opened #177 "Incorrect types in declaration file"
_Warning_: Github issues are not an official support channel for Recurly. If you have an urgent request we suggest you contact us through an official channel: support@recurly.com or https://recurly.zendesk.com

**Describe the bug**

Types definitions are incorrect:
- **all fields are optional and nullable**
- some types are not strongly typed (ex: Plan.state -> string instead of an enum)

short ex

[2021-02-12 16:10] #156 closed

[2021-02-18 22:54] jguidry-recurly opened #180 "Release Summary for 4.0.0"
## Breaking Changes

- Classify unexpected error responses from Recurly API via an HTTP status code mapping provided in `recurly.errors.ERROR_MAP`. Status code `502` now maps to `recurly.errors.BadGatewayError`.  [#136]
- Replace `recurly.errors.ValidationError` with `recurly.errors. UnprocessableEntityError`.  [#136]
- Accept `params`, `headers` though an options object for all client operations.

[2021-03-01 20:02] #180 closed

[2021-03-03 17:59] j10sanders commented on #116
Hard to go through all the release notes since May.  Was a mock-token ever implemented?

[2021-03-15 15:40] markovaljaots opened #186 "Allow optional "host" and "port" config parameters"
Currently `host` and `port` are hardcoded in BaseClient.js and it makes it difficult to create functional tests using [MockServer](https://www.mock-server.com/) for instance.

It would be great if `host` and `port` would be optional config parameters and if these are not specified, host and port would default to `v3.recurly.com:443`.

I can create a PR, but wanted to first ask for your input as we

[2021-04-22 21:59] douglasmiller commented on #152
@SKaistrenko I realize that it's been quite some time, but it is now possible to generate unique coupon codes using the `4.x` version of the client. Please let us know if that doesn't work for you.

[2021-04-22 21:59] #152 closed

[2021-04-22 22:00] SKaistrenko commented on #152
Thank you for taking care of that!

[2021-05-09 09:17] MangoChris commented on #116
+1 It would be very useful to be able to mock the token, the idea of not having realistic integration tests for something as important as billing doesn't appeal to me.

[2021-05-17 22:26] wcauchois commented on #177
I want to chime in here that it's very inconvenient that every type is nullable (e.g. `id` on invoice - [link](https://github.com/recurly/recurly-client-node/blob/7c8a811d89cfa1d0822a2a91f535fe343b093138/lib/recurly.d.ts#L1083)). Could the developers please fix this to reflect what fields are actually nullable? This leads to code with either tons of redundant nullability checks, or null assertions

[2021-10-28 14:34] noctivityinc commented on #116
+1 any update here?  JS code doesnt do us any good when we are writing backend Ruby rspec request specs.

[2021-12-15 23:43] kalyanattota opened #227 "generateUniqueCouponCodes response throw error"
**Describe the bug**

` generateUniqueCouponCodes` method response throws exception due to `castJsonResponse`  in `caster.js`  as it is checking for property `object`  in the response body which is neither in  API [documentation](https://developers.recurly.com/api/v2021-02-25/index.html#:~:text=%7B-,%22limit%22%3A%200%2C,-%22order%22%3A%20%22string%22%2C)  nor in the response class `UniqueCouponCo

[2021-12-16 17:49] douglasmiller commented on #227
@kalyanattota, thank you for bringing this to our attention. You're absolutely right that the response needs to contain an `object` key for the client to cast to an appropriate resource.

We will get this fixed on the API side as soon as possible. I'll leave this issue open until the fix gets deployed.

[2021-12-16 18:31] kalyanattota commented on #227
@douglasmiller  thanks for the quick update. Is it possible to provide an ETA for this fix pls? Thanks.

[2021-12-16 19:01] douglasmiller commented on #227
Unfortunately, I cannot provide any time estimate beyond saying that we are in a code freeze until the end of the year.

If it is of any help, the unique coupon codes will still be generated asynchronously. The API response is limited to providing query parameters for the `list_unique_coupon_codes` operation: https://developers.recurly.com/api/v2021-02-25/index.html#operation/list_unique_coupon_co

[2022-01-26 15:19] douglasmiller commented on #227
@kalyanattota The fix for this was recently deployed to the production environment. Please let us know if you have any other questions or issues.

[2022-01-26 15:19] #227 closed, assigned to douglasmiller

[2022-02-02 17:38] douglasmiller commented on #186
Hey @markovaljaots,

We don't officially support changing the host and port configuration of the client, however it is possible.

[code]

I apologize for the unreasonably long response time to this issue. It fell off of our radar.

[2022-02-02 17:38] #186 closed

[2022-03-11 10:06] alko89 opened #246 "No overloaded constructor for Client config"
The type definition for Client constructor doesn't include the overloaded method to include client options. Because of that I'm unable to define a region as described in documentation:

![image](https://user-images.githubusercontent.com/2822030/157846166-7ca8da01-5417-412e-8081-e2c85ece15c4.png)

Ignoring types does work so its obvious its a type issue:

![image](https://user-images.githubusercont

[2022-03-11 21:24] douglasmiller commented on #246
Hey @Alko89,

Thank you for bringing this to our attention. The region support was only recently added and the typescript definitions were missed. We will have to update our code generator to fix this.

I'll leave this issue open until the fix has been merged and deployed.

[2022-03-12 11:16] alko89 commented on #246
Noticed the PR, tested working. Thanks for the quick fix!

On an unrelated note some typings do leave a lot to be desired. I noticed a lot of parameters have Object type instead of an actual type.

[2022-03-12 11:16] #246 closed, assigned to douglasmiller

[2022-04-20 04:30] rafid-kore opened #254 "configure subdomain"
How can I configure my **subdomain** in this library ? if my recurly site is https://test1.recurly.com how can I configure test1 in this library ? I have seen setting apikey would be like this _**const client = new recurly.Client(myApiKey)**_

[2022-04-20 13:43] douglasmiller commented on #254
Hey @rafid-kore, there is no need to specify your subdomain when using the client. Your private API key is all that is necessary to use the client.

[2022-04-21 04:02] rafid-kore commented on #254
When I used this code
![image](https://user-images.githubusercontent.com/46916980/164369633-e8084d6a-5a06-44b5-aec3-004d71b8bb28.png)
getting this error
![image](https://user-images.githubusercontent.com/46916980/164369669-c6c47e18-cc15-42cd-b946-7c005dee4869.png)

[2022-04-26 09:10] #254 closed, assigned to nobody

[2022-05-23 11:56] Silverwolf90 commented on #177
Well I'm here a year later to complain about the same thing. It's a terrible developer experience.

[2022-06-11 22:27] dmmulroy commented on #177
I'm also here to see if there is any plans to address this?

[2022-08-10 19:30] sunshineo opened #266 "Cannot report usage saying "Couldn't find AddOn""
Using latest 4.20.0
[code]

Output
[code]

The addon is right there
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/1072766/184003845-f4f36f9f-0982-42f2-a1cd-81862a4bdbda.png">
The subscription is for that plan of course

[2022-08-10 19:43] sunshineo commented on #266
Actually reporting the usage through api does not work either
<img width="1792" alt="image" src="https://user-images.githubusercontent.com/1072766/184005999-bd51cb8f-cd21-4dd2-90c5-1e5731b62a14.png">

[2022-08-10 19:52] sunshineo commented on #266
Actually we found the bug on our side.

[2022-08-10 19:52] #266 closed, assigned to nobody

[2022-08-10 20:01] douglasmiller commented on #266
Good to hear that you were able to figure out the issue, @sunshineo.

Please don't hesitate to reach out with any other issues.